[submodule "vendor/postgres-v14"]
	path = vendor/postgres-v14
	url = https://github.com/neondatabase/postgres.git
	branch = REL_14_STABLE_neon
[submodule "vendor/postgres-v15"]
	path = vendor/postgres-v15
	url = https://github.com/neondatabase/postgres.git
	branch = REL_15_STABLE_neon
[submodule "vendor/postgres-v16"]
	path = vendor/postgres-v16
	url = https://github.com/neondatabase/postgres.git
	branch = REL_16_STABLE_neon
[submodule "vendor/postgres-v17"]
	path = vendor/postgres-v17
	url = https://github.com/neondatabase/postgres.git
	branch = REL_17_STABLE_neon
