export PGUSER=scraper-staging
export PGPASSWORD=...
export PGHOST=ep-....eu-central-1.aws.neon.tech
export PGDATABASE=scraper-staging
export SCRAPE_ENDPOINT=http://localhost:9898
export SCRAPE_ENVIRONMENT=staging
export SCRAPE_INTERVAL=99