[package]
name = "pageserver_page_api"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
prost.workspace = true
tonic.workspace = true

[build-dependencies]
tonic-build.workspace = true
