[package]
name = "proxy"
version = "0.1.0"
authors = ["Stas Kelvich <stas.kelvich@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
base64 = "0.13.0"
bytes = { version = "1.0.1", features = ['serde'] }
clap = "2.33.0"
hex = "0.4.3"
hmac = "0.10.1"
lazy_static = "1.4.0"
md5 = "0.7.0"
parking_lot = "0.11.2"
rand = "0.8.3"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "json", "rustls-tls"] }
rustls = "0.19.1"
serde = "1"
serde_json = "1"
sha2 = "0.9.8"
stringprep = "0.1.2"
thiserror = "1.0.30"
tokio = { version = "1.11", features = ['macros'] }
tokio-postgres = { path = "../../rust-postgres/tokio-postgres" }
# tokio-postgres = { git = "https://github.com/zenithdb/rust-postgres.git", rev = "f1f16657aaebe2b9b4b16ef7abf6dc42301bad5d"}

zenith_utils = { path = "../zenith_utils" }
