[package]
name = "communicator"
version = "0.1.0"
edition = "2024"

[features]
testing = []

[lib]
crate-type = ["staticlib"]

[dependencies]
axum.workspace = true
bytes.workspace = true
clashmap.workspace = true
http.workspace = true
libc.workspace = true
nix.workspace = true
atomic_enum = "0.3.0"
prometheus.workspace = true
prost.workspace = true
tonic = { version = "0.12.0", default-features = false, features=["codegen", "prost", "transport"] }
tokio = { version = "1.43.1", features = ["macros", "net", "io-util", "rt", "rt-multi-thread"] }
tokio-pipe = { version = "0.2.12" }
thiserror.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

metrics.workspace = true
uring-common = { workspace = true, features = ["bytes"] }

pageserver_client_grpc.workspace = true
pageserver_page_api.workspace = true

neon-shmem.workspace = true
utils.workspace = true

[build-dependencies]
cbindgen.workspace = true
